.todo-form
  padding: 20px
  background: #fff
  border-radius: 3px
  box-shadow: 1px 4px 4px #002e4e0f, 1px 1px 2px #002e4e0f


@media screen and ( max-width: 990px )
  textarea.form-control
    height: 100px
    min-height: 100px
