.todo-list
  .loader
    position: absolute
    top: -24px
    left: 14px
  .tasks-container
    max-height: 80vh
    overflow: scroll
    padding-top: 20px
    -ms-overflow-style: none
    border-radius: 7px

    &::-webkit-scrollbar
      width: 0

.list-item-drag
  background: #ccc

.todo-finish-list
  margin-top: 40px

  .tasks-container
    display: block
    height: 100%
    overflow: scroll
    -ms-overflow-style: none
    scrollbar-width: none

    &::-webkit-scrollbar
      width: 0px
      background: transparent

  .loader
    position: absolute
    top: -24px
    left: 0

  .date
    .card-date:last-child
      text-align: right
      z-index: 99
      opacity: 1
      position: absolute
      max-width: 100px
      right: 12px
      top: 50%
      transform: translateY(-50%)

.finish-card
  .card-text
    display: none

.todo-finish-list
  position: relative

.show-finish-list
  position: absolute !important
  top: 4px
  right: 0

.anticon
  vertical-align: 0 !important

.ant-drawer-body
  background: #f3faff

.ant-drawer-header
  background: #343a40 !important
  border-radius: 0 !important
.ant-drawer-title
  color: #ffffff !important
  font-weight: 300 !important
  text-align: center

.tasks-list-header
  display: flex
  justify-content: space-between
  align-items: center
  padding: 0 10px 0

.todo-item-exit-active
  animation: todo-list .4s ease forwards

.todo-item-enter-active
  animation: todo-list .3s ease-in alternate-reverse

.no-task-enter
  opacity: 1

.no-task-exit
  opacity: 0

.no-task-exit-active
  opacity: 0
  animation: no-task .3s ease forwards

.no-task-enter-active
  opacity: 1
  animation: no-task .3s ease alternate-reverse

@keyframes todo-list
  0%
    transform: translateX(0)

  30%
    opacity: .7
    transform: translateX(30px)

  100%
    opacity: 0
    transform: translateX(-200px)

@keyframes no-task
  0%
    opacity: 1
    transform: translateY(0)

  30%
    opacity: .4
    transform: translateY(-4px)

  100%
    opacity: 0
    transform: translateY(-10px)
