body
  background: #f3faff
  max-height: 100vh
  overflow: hidden

.page
  position: absolute
  left: 15px
  right: 15px
  transform-origin: center top

.page-enter
  opacity: 0
  transform: scale(1.1)

.page-enter-active
  opacity: 1
  transform: scale(1)
  transition: opacity 300ms, transform 300ms

.page-exit
  opacity: 1
  transform: scale(1)

.page-exit-active
  opacity: 0
  transform: scale(0.9)
  transition: opacity 300ms, transform 300ms


@media screen and ( max-width: 960px )
  body
    max-height: auto
    overflow: scroll
